.sigplot-menu-list {
    margin: 0px;
    list-style: none;
    padding: 0px;
}
.sigplot-menu-title {
    text-align: center;
    border-bottom: 1px solid rgb(60%,60%,55%);
}
.sigplot-menu-item{
    border-top: 2px solid black;
    background-color: #2b2b20;
    padding: 1px;
    padding-right: 5px;
    padding-left: 5px;
}
.sigplot-menu {
    position: relative;
    color: white;
    float: left;
    background-color: #434339;
    border-radius: 5px;
    padding: 3px;
    font-family: Courier New, monospace;
    font-size: 15px;
}

.sigplot-menu-item.separator {
    background-color: transparent;
}